.ad{
    width: 400px;
    height: 250px;
    border-radius: 10px;
    background-image: url("../images/stocks.png");
    background-size: cover;
}

.social-links{
    width: 400px;
    height: 250px;
    font-size: 20px;

}

footer{
   margin: 6rem 2rem;
}

.about{
  line-height: 30px;
}

.about dt{
    font-size: 20px;
    font-weight: 600;
    color: red;
    text-decoration: underline;
}

.about dd{
    margin: 10px 20px;
}
